{% extends 'base.html' %}

{% block content %}

    <h2>Edytuj parametry pokoju</h2>

    <form method="POST" class="formsik">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-inline">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}